/*
 * lazy images
 */

img.lazyload,
img.lazyloading,
img.lazyloaded {
	will-change: opacity;
	transition: all .3s ease-in-out;
}
.lazyload,
.lazyloading,
.lazyload + figcaption,
.lazyloading + figcaption {
	opacity: 1;
}
.lazyloaded {
	opacity: 1;
    position:relative;
    z-index:1;
}
